.wrapper  
  = render 'shared/side_bar'
  .chat-main
    .main-header
      .main-header_left-box
        .main-header_left-box_current-group
        .main-header_left-box_menber-list
        .main-header_left-box_menber-list_menber
      .main-header_edit_btn 
        Edit
    .messages
      = render @messages
      
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', id: 'new_message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
