.wrapper  
  = render 'shared/side_bar'
  .chat-main
    .main-header
      .main-header_left-box
        .main-header_left-box_current-group
        .main-header_left-box_menber-list
        .main-header_left-box_menber-list_menber
      .main-header_edit_btn 
        Edit
    .messages
      = render @messages
      
    .form
      .new_message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input_box', placeholder: 'type a message'
        = f.label :image, class: 'input_box_text' do
          .input_box_text
            .input_box_image
              = fa_icon 'image', class: 'icon'
            .input_box_image_file
              = f.file_field :image, class: 'hidden'
          .submit-btn    
            = f.submit 'Send', class: 'submit-btn'
