.chat-side
  .side-header
    .side-header_box
      .side-header_box_user-name 
        = current_user.name
      .side-header_box_menu
        .side-header_box_menu_new-group
          = link_to new_group_path(current_user) do
            = fa_icon 'edit', class:"icons"
            
        .side-header_box_menu_edit-user
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: "icons" 


  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group_group_name
            = group.name
          .group_latest-messages
            ccc